<!-- Test MotionModel / Odometry by using only one particle w. no noise -->

<launch>
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server"  />
	<node pkg="humanoid_localization" type="localization_node" name="humanoid_localization" >
		<rosparam file="$(find humanoid_localization)/config/localization_conf_motion_test.yaml" command="load" />
	</node>
</launch>
